# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Code formatting files
.prettierignore

# Design files
*.xd
*.sketch
*.fig

# Ignore 'bin' directory and 'temp*' files
temp*
bin/

# Ignore 'README*' in subdirectories
*/README*
