.button {
  --flow-space: 1.5rem;
  display: inline-flex;
  padding: 1em 1.5em;
  background: var(--color-eucaplyptus);
  color: var(--color-dark-purple);
  line-height: var(--leading-fine);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--tracking-semi-loose);
  border: solid 3px var(--color-eucaplyptus);

  &:hover {
    background: transparent;
    color: var(--color-eucaplyptus);
  }
}

// .button {
//   display: inline-flex;
//   gap: var(--button-gap, var(--space-gutter));
//   padding: var(--button-padding, 0.8em 1.5em);
//   background: var(--button-bg, var(--color-surface-bg));
//   color: var(--button-text, var(--color-surface-text));
//   line-height: var(--button-leading, var(--leading-fine));
//   border-radius: var(--button-radius, 0);
//   text-decoration: none;
//   text-transform: var(--button-text-transform, uppercase);
//   font-weight: var(--button-font-weight, var(--font-weight-medium));
//   letter-spacing: var(--button-kerning, var(--kerning-loose));

//   &:hover {
//     background: var(--button-interact-bg, var(--color-surface-bg-interact));
//     color: var(--button-interact-text, var(--color-surface-text-interact));
//   }
// }
