.intro {
  --measure: 33ch;

  img {
    --nav-block-size: calc(0.8em * 2) + calc(var(--leading) * 1em);
    --header-block-size: calc(100% + var(--space-s-m) + var(--nav-block-size));
    --space-img: clamp(4.375rem, 2.9657rem + 6.5359vw, 7.5rem);

    object-fit: contain;
    position: absolute;
    inset-block-start: calc(
      calc(var(--nav-block-size) + var(--space-s-m)) * -1
    );
    inset-block-end: 0;
    margin: auto;
    block-size: auto;
    margin-inline-start: calc(var(--space-img) * -1);
    max-block-size: calc(var(--header-block-size) * 1.1);
    transform: translateY(-6.6%);
    z-index: -1;
  }

  @media (max-width: 800px) {
    img {
      --space-img: clamp(3.125rem, 1.9975rem + 5.2288vw, 5.625rem);
      transform: unset;
    }
  }

  @media (max-width: 600px) {
    .l-columns {
      --columns: 1;
      --space-columns: var(--space-l);
    }

    img {
      position: relative;
      margin: auto;
      inset-block-start: 0;
    }
  }
}

// viewport : 100vw
// layout base : 1110px
// the image is initialy within an element that is 33% of the layout base
// but I want it to take up the rest of the viewport

// I want the image to shoot out taking up the rest of the viewport

// 2 gutters : calc(var(--space-gutter) * 2)
// grid-gap: var(--space-gutter)
