.link {
  // display: inline-block;
  // font-size: var(--size-body-s);
  // font-weight: var(--font-weight-bold);
  // background-color: red;
  // padding: 1em 2.5em;
  // line-height: 28px;
  // text-decoration: none;
  // font-weight: var(--font-weight-medium);
  // letter-spacing: var(--tracking-semi-loose);
  // display: inline-block;
  // color: var(--color-white);

  display: inline-flex;
  gap: var(--button-gap, var(--space-gutter));
  padding: var(--button-padding, 0.8em 1.5em);
  background: var(--button-bg, var(--color-surface-bg));
  color: var(--button-text, var(--color-surface-text));
  line-height: var(--button-leading, var(--leading-fine));
  border-radius: var(--button-radius, 0);
  text-decoration: none;
  text-transform: var(--button-text-transform, capitalize);
  font-weight: var(--button-font-weight, var(--font-weight-medium));
  letter-spacing: var(--button-kerning, var(--kerning-loose));
}
