@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Medium.woff2")
      format("woff2"),
    url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.woff2")
      format("woff2"),
    url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.woff2")
      format("woff2"),
    url("/fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.woff")
      format("woff");
}
